{% extends 'base.html'%}

{% block title %} About {%endblock title%}

{% block content-body%}
<div class="container-fluid px-0 w-fluid">
<img src="https://source.unsplash.com/1400x400?icecream,shop" class="d-block w-400 mx-0" alt="icrecream">
</div>
 <h2 class="text-center my-20">
    About Us
 </h2>
 <p class="text-center">
We are a top-notch icecream selling company. Use our services and get a change to witness the taste of authenticity,
naturalness and a healthy delight. 
</p> 
{%endblock content-body%}


{%block footer%} {%endblock footer%}